<aside class="aside">
    <div class="aside-inner">
        <nav data-sidebar-anyclick-close="" class="sidebar">
            <ul class="nav">
                <li class="nav-heading">
                    <span>Feed Navigation</span>
                </li>
                <li class="active">
                    <a href="#" title="News Articles">
                        <em class="icon-grid"></em>
                        <span>All Articles</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
